<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>
    <meta charset="UTF-8">
    <title>demo-3(demo-1例子使用JavaScript动画重写)</title>
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>
    <script src="../../bower_components/angular/angular.js"></script>
    <script src="../../bower_components/angular-animate/bower-angular-animate-1.4.8/angular-animate.js"></script>
    <script src="../../bower_components/jquery/dist/jquery.js"></script>
</head>
<body>

<div ng-controller="DemoController as demo">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <input type="search"
                       class="form-control"
                       placeholder="输入搜索内容"
                       ng-model="demo.queryString"
                       ng-model-options="{updateOn: 'default blur', debounce: {default: 200, blur: 200}}"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>例1: <strong>右进左出</strong></p>

                <ul class="list-group">
                    <li ng-repeat="data in demo.datas | filter: demo.queryString as filterDatas"
                        class="list-group-item right-left clearfix">
                        <a>{{data}}</a>
                        <button ng-click="demo.remove($index)" class="pull-right btn btn-danger">删除</button>
                    </li>
                </ul>
                <p>搜索结果：{{filterDatas.length}}条数据</p>
            </div>
            <div class="col-md-6">
                <p>例2: <strong>左进左出</strong></p>

                <ul class="list-group">
                    <li ng-repeat="data in demo.datas | filter: demo.queryString as filterDatas"
                        class="list-group-item left-left clearfix">
                        <a>{{data}}</a>
                        <button ng-click="demo.remove($index)" class="pull-right btn btn-danger">删除</button>
                    </li>
                </ul>
                <p>搜索结果：{{filterDatas.length}}条数据</p>
            </div>

            <div class="col-md-12">
                <p>例3: <strong>ng-move排序动画</strong></p>

                <ul class="list-group">
                    <li ng-repeat="data in demo.datas | filter: demo.queryString as filterDatas"
                        class="list-group-item sort-item clearfix">
                        <a>{{data}}</a>
                        <button ng-click="demo.up($index)" class="pull-right btn btn-default">上</button>
                        <button ng-click="demo.down($index)" class="pull-right btn btn-default">下</button>
                        <button ng-click="demo.remove($index)" class="pull-right btn btn-danger">删除</button>
                    </li>
                </ul>
                <p>搜索结果：{{filterDatas.length}}条数据</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <button ng-click="demo.add()" class="btn btn-primary">增加</button>
            </div>
        </div>

    </div>

</div>


<script>

    angular.module('demo', ['ngAnimate']);

    (function () {
        angular
                .module('demo')
                .controller('DemoController', DemoController);

        DemoController.$inject = ['$log', '$window'];

        function DemoController($log, $window) {

            var vm = this;

            vm.datas = [];
            vm.queryString = '';

            vm.remove = remove;
            vm.add = add;
            vm.up = up;
            vm.down = down;

            setData();
            function setData() {
                for (var i = 0; i < 5; i++) {
                    vm.datas.push('item' + Math.random());
                }
            }

            function up($index) {
                if(($index - 1) < 0) return;
                var cur = vm.datas[$index];
                vm.datas[$index] = vm.datas[$index - 1];
                vm.datas[$index - 1] = cur;

            }

            function down($index) {
                if(!$index + 1 > vm.datas.length) return;
                var cur = vm.datas[$index];
                vm.datas[$index] = vm.datas[$index + 1];
                vm.datas[$index + 1] = cur;
            }

            function remove($index) {
                $log.info($index);
                vm.datas.splice($index, 1);
            }

            function add() {
                vm.datas.push('item' + Math.random());
            }

        }
    })();


    (function() {
        angular
                .module('demo')
                .animation('.right-left', rightLeft);

        rightLeft.$inject = ['$log'];

        function rightLeft($log) {

            var animation = {
                enter: enter,
                leave: leave
            };
            return animation;

            //元素进入动画
            function enter(element, done) {
                //这里一定要先设置元素的display样式为none,否则一旦添加元素，元素就直接显示了，而不会fadeIn了，只有display为none的元素用fadeIn才有效果
                $(element).css('display', 'none').fadeIn(500, done);
            }

            //元素离开动画
            function leave(element, done) {
                $(element).fadeOut(500, done);
            }
        }
    })();

    (function() {
        angular
            .module('demo')
            .animation('.left-left', leftLeft);

        leftLeft.$inject = [];

        function leftLeft() {
            var animation = {
                enter: enter,
                leave: leave
            };
            return animation;

            function enter(element, done) {
                $(element).css('display', 'none').fadeIn(500, done);
            }   

            function leave(element, done) {
                $(element).fadeOut(500, done);
            }

        }
    })();
</script>
</body>
</html>


