<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>
    <meta charset="UTF-8">
    <title>Angular $interpolate用法</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
    <script src="../bower_components/angular/angular.js"></script>
</head>
<body>

<div ng-controller="DemoController as demo">
    <input ng-model="demo.name" type="text" placeholder="Type Your Name">
    <textarea ng-model="demo.txt" cols="30" rows="10" placeholder="输入插值表达式"></textarea>
    <div ng-bind="demo.interpolatedValue"></div>
    <hr/>
</div>


<script>

    /*
    * $interpolate

     编译一段带有插入标记的语句，然后返回一个interpolation（插值）函数，
     这个服务也被HTML$compile服务用来进行数据绑定。可以用$interpolateProvider来配置插入的标记。
     依赖

     $parse
     $sce
     使用

     $interpolate(text, [mustHaveExpression], [trustedContext], [allOrNothing])
     参数

     text[string] 需要被编译的字符串
     mustHaveExpression[boolean] 如果这个参数的值被设置为true,那么上面的text中必须含有嵌入其中的表达式，不然将会返回null,而不是我们预期的interpolation function
     trustedContext[string] 如果提供了这个参数值，那么在返回相应的函数之前，将会使用$sce.getTrusted(interpolatedResult, trustedContext)对返回的结果做处理。
     allOrNothing[boolean] 如果这个参数的值被设置为true，那么只有text中所有嵌入的表达式没有一个被转换为undefined的时候才会返回我们期望的函数。
     返回值

     function(context) 一个用来计算带有插值标记语句的函数，这个函数有一个参数

     context 为插入标记语句中的表达式提供的上下文。
     Escaped Interpolation（摆脱插值服务）

     $interpolate提供了一种用来摆脱插值标记的机制，那就是通过在插入标记的开始和结束符号前面加上反斜杠\，AngularJS将会把这部分渲染为普通的部分，所以也不会被解读为为表达式或者数据绑定。
     这让Web服务器阻止脚本注入和抵御网络攻击成为可能，从某种程度上说，无需依靠ngNonBindable指令就可以展示代码例子是如何运行的。
     为了安全目的，我们强烈建议Web服务器对用户的应用数据进行检索和过滤，用&lt和&gt替代(<,>)，并且使用相应的字符去替代插入标记的开始和结束符
     */

    angular.module('demo', []);

    (function () {
        angular
                .module('demo')
                .controller('DemoController', DemoController);

        DemoController.$inject = ['$log', '$interpolate', '$scope', '$timeout'];

        function DemoController($log, $interpolate, $scope, $timeout) {

            var ctrl = this;

            ctrl.txt = '';
            ctrl.name = '';
            ctrl.interpolatedValue = '';

            $scope.$watch("demo.txt", function(newVal, oldVal, scope){
                var interpolatedFunc = $interpolate(newVal);
                //方式一
                ctrl.interpolatedValue = interpolatedFunc({name: ctrl.name});
                $log.info('interpolatedValue: ' + ctrl.interpolatedValue);

                //方式二
//                ctrl.interpolatedValue = interpolatedFunc(ctrl);
            });


            ctrl.model = {
                name: 'novaline',
                age: undefined
            };

            var exp = $interpolate('name is + {{name}}. Age is + {{age}}', false, null, true);
            var sentence = exp(ctrl.model);

            if(angular.isUndefined(sentence)) {
                $log.info('exp(ctrl.model)\'s result is undefined');
            }

            $timeout(function() {
                ctrl.model.age = 23;
                sentence = exp(ctrl.model);
                $log.info(sentence);
            }, 2000);

        }
    })();

</script>
</body>
</html>


