<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular checkbox用法(多种数据结构)</title>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
</head>
<body ng-app="demo">
<div ng-controller="DemoController as DemoCtrl"
     ng-style="{'background-color': DemoCtrl.model.theme, 'color': DemoCtrl.model.theme === '#000' ? '#fff' : '#666'}">
    <h4>1、options数据结构</h4>

    <form name="myForm" novalidate>
        <label ng-repeat="option in DemoCtrl.model.options">
            <span ng-bind="option.text"></span>
            <input type="checkbox"
                   ng-disabled="$last"
                   ng-model="option.isChecked"
                   ng-change="DemoCtrl.fn.optionCheckChange()"/>
        </label>
    </form>

    <h4>2、cityMap数据结构</h4>

    <form name="myForm" novalidate>
        <label ng-repeat="(cityKey, cityTxt) in DemoCtrl.model.cityMap">
            <span ng-bind="cityTxt"></span>
            <input type="checkbox"
                   ng-disabled="$middle"
                   ng-model="DemoCtrl.model.cityCheckedMap[cityKey]"
                   ng-change="DemoCtrl.fn.cityCheckChange()"/>
        </label>
    </form>

    <h4>3、buildingMap数据结构，新建floorCheckMap来管理floor的check状态</h4>

    <div ng-repeat="(buildingId, floors) in DemoCtrl.model.buildingMap">
        <h5>第<strong ng-bind="$index + 1"></strong>栋楼</h5>

        <form name="myForm" novalidate>
            <label ng-repeat="floor in floors">
                <span ng-bind="floor.txt"></span>
                <input type="checkbox"
                       ng-model="DemoCtrl.model.floorCheckMap[buildingId][floor.id]"
                       ng-change="DemoCtrl.fn.floorCheckChange()"/>
            </label>
        </form>
    </div>

    <h4>4、buildingMap数据结构，直接在floor上创建isChecked字段来标识该floor的check状态</h4>

    <div ng-repeat="(buildingId, floors) in DemoCtrl.model.buildingMap">
        <h5>第<strong ng-bind="$index + 1"></strong>栋楼</h5>

        <form name="myForm" novalidate>
            <label ng-repeat="floor in floors">
                <span ng-bind="floor.txt"></span>
                <input type="checkbox"
                       ng-model="floor.isChecked"
                       ng-change="DemoCtrl.fn.floorCheckChange()"/>
            </label>
        </form>
    </div>

    <h4>5、stuffMap数据结构</h4>

    <div ng-repeat="(stuffId, somethingMap) in DemoCtrl.model.stuffMap">
        <h5>stuff<strong ng-bind="$index + 1"></strong></h5>

        <form name="myForm" novalidate>
            <label ng-repeat="(somethingKey, somethingValue) in somethingMap">
                <span ng-bind="somethingValue"></span>
                <input type="checkbox"
                       ng-model="DemoCtrl.model.somethingCheckMap[stuffId][somethingKey]"
                       ng-change="DemoCtrl.fn.somethingCheckChange()"/>
            </label>
        </form>
    </div>

    <h4>6、mapList数据结构</h4>

    <div ng-repeat="(mapId, list) in DemoCtrl.model.mapList">
        <h5>List<strong ng-bind="$index + 1"></strong></h5>

        <form name="myForm" novalidate>
            <label ng-repeat="element in list track by $index">
                <span ng-bind="element"></span>
                <input type="checkbox"
                       ng-model="DemoCtrl.model.elementCheckMap[mapId][$index]"
                       ng-change="DemoCtrl.fn.elementCheckChange()"/>
            </label>
        </form>
    </div>

    <h4>7、theme数据结构</h4>

    <form name="myForm" novalidate>
        <label>
            <span>夜间模式</span>
            <input type="checkbox"
                   ng-model="DemoCtrl.model.theme"
                   ng-true-value="'#000'"
                   ng-false-value="'#fff'"/>
        </label>
    </form>
</div>
<script>
    var demo = angular.module('demo', []);

    demo.controller('DemoController', ['$scope', '$log', function ($scope, $log) {

        var ctrl = this;
        ctrl.model = {};
        ctrl.fn = {};

        ctrl.model.theme = '#fff';

        ctrl.model.options = [
            {
                value: 'angular',
                text: 'angularJS教程',
                group: 'JavaScript类'
            },
            {
                value: 'backbone',
                text: 'backboneJS教程',
                group: 'JavaScript类'
            },
            {
                value: 'SASS',
                text: 'SASS教程',
                group: 'CSS类'
            },
            {
                value: 'LESS',
                text: 'LESS教程',
                group: 'CSS类'
            }
        ];

        ctrl.model.cityMap = {
            'beijing': '北京',
            'shanghai': '上海',
            'chengdu': '成都',
            'shenzhen': '深圳'
        };
        ctrl.model.cityCheckedMap = {};


        ctrl.model.buildingMap = {
            'buildingId123': [
                {
                    id: '1',
                    txt: '1层'
                },
                {
                    id: '2',
                    txt: '2层'
                },
                {
                    id: '3',
                    txt: 'B1层'
                }
            ],
            'buildingId321': [
                {
                    id: '1',
                    txt: '1层'
                },
                {
                    id: '2',
                    txt: '2层'
                },
                {
                    id: '3',
                    txt: 'B1层'
                }
            ]
        };
        ctrl.model.floorCheckMap = {};
        var buildingIds = _.keys(ctrl.model.buildingMap);
        angular.forEach(buildingIds, function (id) {
            ctrl.model.floorCheckMap[id] = {};
        });
        $log.info('floorCheckMap:', ctrl.model.floorCheckMap);

        ctrl.model.stuffMap = {
            '123': {
                'a': '1',
                'b': '2',
                'c': '3'
            },
            '321': {
                'a': '1',
                'b': '2',
                'c': '3'
            }
        };
        ctrl.model.somethingCheckMap = {};
        var stuffIds = _.keys(ctrl.model.stuffMap);
        angular.forEach(stuffIds, function (id) {
            ctrl.model.somethingCheckMap[id] = {};
        });


        ctrl.model.mapList = {
            '123': [1, 1, 2, 3, 4],
            '321': [3, 4, 5, 2, 3]
        };
        ctrl.model.elementCheckMap = {};
        var mapIds = _.keys(ctrl.model.mapList);
        angular.forEach(mapIds, function (id) {
            ctrl.model.elementCheckMap[id] = {};
        });

        ctrl.fn.optionCheckChange = function () {
            $log.info(ctrl.model);
        };

        ctrl.fn.cityCheckChange = function () {
            $log.info(ctrl.model);
            $log.info(ctrl.model.cityCheckedMap);
        };

        ctrl.fn.floorCheckChange = function () {
            $log.info('buildingMap:', ctrl.model.buildingMap);
            $log.info('floorCheckMap:', ctrl.model.floorCheckMap);
        };

        ctrl.fn.somethingCheckChange = function () {
            $log.info('somethingCheckMap:', ctrl.model.somethingCheckMap);
        };

        ctrl.fn.elementCheckChange = function () {
            $log.info('elementCheckMap:', ctrl.model.elementCheckMap);
        };

    }]);
</script>
</body>
</html>