<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>
    <meta charset="UTF-8">
    <title>Angular 取消请求</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
    <script src="../bower_components/angular/angular.js"></script>
</head>
<body>

<div ng-controller="DemoController as demo">
    <button ng-click="demo.requestData()">请求</button>
    <button ng-click="demo.abortReq()">放弃</button>
    {{ demo.data }}
</div>


<script>

    angular.module('demo', []);

    (function () {
        angular
                .module('demo')
                .controller('DemoController', DemoController);

        DemoController.$inject = ['$log', '$http', '$q', '$interval'];

        function DemoController($log, $http, $q, $interval) {

            var vm = this;

            var deferred = $q.defer();

            vm.requestData = requestData;
            vm.abortReq = abortReq;
            vm.data = '';

            //本地请求速度太快，因此模拟取消请求
            $interval(function() {
                abortReq();
            }, 1);

            function requestData() {
                //post请求貌似无法cancel
                $http.get('../data/request3.json', {
                    timeout: deferred.promise
                }).success(function(data) {
                    vm.data = data.name;
                });
            }

            function abortReq() {
                deferred.resolve();
            }

        }
    })();

</script>
</body>
</html>


