<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>
    <meta charset="UTF-8">
    <title>Angular $anchorScroll用法</title>
    <style>
        #A{
            position: absolute;
            bottom: -200px;
        }

        #B{
            position: absolute;
            bottom: -1000px;
        }


        #C{
            position: absolute;
            bottom: -2000px;
        }
    </style>
</head>
<body>

<div ng-controller="DemoController as demo">
    <a ng-click="demo.fn.goAnchor('A')">锚点A</a>
    <a ng-click="demo.fn.goAnchor('B')">锚点B</a>
    <label>
        输入跳转锚点Y坐标偏移
        <input type="text" ng-model="demo.model.yOffset"/>
    </label>

    <p id="A">点击锚点A跳到这里</p>
    <p id="B">点击锚点B跳到这里</p>
    <p id="C">其他内容</p>
</div>

<script src="../bower_components/angular/angular.js"></script>
<script>

    angular.module('demo', []);

    (function () {
        angular
                .module('demo')
                .controller('DemoController', DemoController);

        DemoController.$inject = ['$log', '$location', '$anchorScroll'];

        function DemoController($log, $location, $anchorScroll) {

            var ctrl = this;
            ctrl.model = {
                yOffset: 0
            };
            ctrl.fn = {
                goAnchor: goAnchor
            };

            function goAnchor(anchor) {
                var old = $location.hash();

                $location.hash(anchor);
                $anchorScroll.yOffset = parseInt(ctrl.model.yOffset, 10);
                $anchorScroll();

                //不在url上加锚点hash
                $location.hash(old);
            }

        }
    })();
</script>
</body>
</html>


