<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular input[radio]用法</title>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
</head>
<body ng-app="demo">
<div ng-controller="DemoController as DemoCtrl">
    <h4>1、Array类型数据结构</h4>
    <form name="myForm" novalidate>
        <label ng-repeat="option in DemoCtrl.model.options">
            <span ng-bind="option.text"></span>
            <input type="radio"
                   ng-disabled="$last"
                   ng-model="DemoCtrl.model.optionValue"
                   ng-change="DemoCtrl.fn.optionValueChange()"
                   ng-value="option.value"/>
        </label>
    </form>

    <h4>2、Object类型数据结构</h4>
    <form name="myForm" novalidate>
        <label ng-repeat="(cityKey, cityTxt) in DemoCtrl.model.cityMap">
            <span ng-bind="cityTxt"></span>
            <input type="radio"
                   ng-disabled="$middle"
                   ng-model="DemoCtrl.model.cityKey"
                   ng-change="DemoCtrl.fn.cityKeyChange()"
                   ng-value="cityKey"/>
        </label>
    </form>
</div>
<script>
    var demo = angular.module('demo', []);

    demo.controller('DemoController', ['$scope', '$log', function ($scope, $log) {

        var ctrl = this;
        ctrl.model = {};
        ctrl.fn = {};

        ctrl.model.options = [
            {
                value: 'angular',
                text: 'angularJS教程',
                group: 'JavaScript类'
            },
            {
                value: 'backbone',
                text: 'backboneJS教程',
                group: 'JavaScript类'
            },
            {
                value: 'SASS',
                text: 'SASS教程',
                group: 'CSS类'
            },
            {
                value: 'LESS',
                text: 'LESS教程',
                group: 'CSS类'
            }
        ];

        ctrl.model.optionValue = _.first(ctrl.model.options).value;

        ctrl.model.cityMap = {
            'beijing': '北京',
            'shanghai': '上海',
            'chengdu': '成都',
            'shenzhen': '深圳'
        };

        ctrl.model.cityKey = _.first(_.keys(ctrl.model.cityMap));

        ctrl.fn.optionValueChange = function() {
            $log.info(ctrl.model.optionValue);
        };

        ctrl.fn.cityKeyChange = function() {
            $log.info(ctrl.model.cityKey);
        }

    }]);
</script>
</body>
</html>