<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>
    <meta charset="UTF-8">
    <title>带上传按钮的上传表单，带预览图，多文件上传</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/ng-file-upload/ng-file-upload-all.js"></script>
</head>
<body>

<div ng-controller="DemoController as demo">

    <div class="container">
        <div class="row">
            <p class="col-md-12">
                Content-Type为multipart/form-data; boundary=----WebKitFormBoundaryfV1qiZxXFMXmwzTq
            </p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- 上传表单 -->
                <form name="uploadForm">
                    <div class="form-group">
                        <label for="upload">文件上传:</label>

                        <!-- ng-file-upload上传指令 -->
                        <!-- ngf-multiple 多文件上传，允许用户选择多个文件 -->
                        <input id="upload"
                               name="file"
                               ngf-select
                               ng-model="demo.files"
                               accept="image/*"
                               ngf-multiple="true"
                               ngf-pattern="'image/*'"
                               type="file"/>
                    </div>

                    <!-- 进度条 -->
                    <div class="progress" ng-if="demo.progressPercentage">
                        <div class="progress-bar"
                             role="progressbar"
                             aria-valuenow="{{demo.progressPercentage}}"
                             aria-valuemin="0"
                             aria-valuemax="100"
                             ng-style="{width: '{{demo.progressPercentage}}%'}">
                            {{ demo.progressPercentage + "%" }}
                        </div>
                    </div>

                    <div>
                        <p class="text-warning" ng-show="uploadForm.file.$error.maxSize">文件容量过大！</p>

                        <p class="text-warning" ng-show="uploadForm.file.$error.minSize">文件容量过小！</p>

                        <p class="text-warning" ng-show="uploadForm.file.$error.maxHeight">图片高度过大！</p>

                        <p class="text-warning" ng-show="uploadForm.file.$error.minHeight">图片高度过小！</p>
                    </div>

                    <!-- 确认上传 -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-default" ng-click="demo.submit(uploadForm)">确认上传</button>
                        <button class="btn btn-default" ng-click="demo.reset()">重置</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <p class="col-md-12">图片预览:</p>
        </div>
        <div class="row" ng-if="demo.urlMap">
            <div class="col-xs-6 col-md-3" ng-repeat="(fileName, url) in demo.urlMap">
                <a href="#" class="thumbnail">
                    <img ngf-src="url" alt="{{fileName}}">
                </a>
            </div>
        </div>
    </div>

</div>


<script>

    angular.module('demo', ['ngFileUpload']);

    (function () {
        angular
                .module('demo')
                .controller('DemoController', DemoController);

        DemoController.$inject = ['$log', '$scope', 'Upload', '$timeout', '$q'];

        function DemoController($log, $scope, Upload, $timeout, $q) {

            var ctrl = this;
            var width = 200;
            var uploadUrl = '../data/upload.json';

            ctrl.files = null;
            ctrl.progressPercentage = '';
            ctrl.urlMap = null;

            ctrl.submit = submit;
            ctrl.reset = reset;


            function reset() {
                ctrl.files = null;
                ctrl.progressPercentage = '';
            }

            function submit(form) {
                var fileCount = ctrl.files.length;
                if (form.file.$valid && fileCount) {
                    $log.info(ctrl.files);
//                    upload(fileCount);
                    loopUpload(fileCount);
                } else {
                    return false;
                }
            }

            //1个上传请求
            function upload(fileCount) {
                var fileName, file;

                //HTML5的方式，可以一次将选择的所有文件发送给服务器端，如下
                Upload.upload({
                    url: uploadUrl,
                    data: {file: ctrl.files}
                }).then(function (resp) {

                    $log.info(resp);

                    if (!ctrl.urlMap) {
                        ctrl.urlMap = {};
                    }

                    for (var i = 0; i < fileCount; i++) {
                        width += i;
                        file = resp.config.data.file[i];
                        fileName = file.name;
                        ctrl.urlMap[fileName] = 'https://unsplash.it/' + width + '/200';
                    }

                    //模拟
                    $timeout(function () {
                        reset();
                    }, 1000);

                }, function (resp) {
                    $log.log('Error status: ' + resp.status);
                }, function (evt) {
                    ctrl.progressPercentage = parseInt(100.0 * evt.loaded / evt.total);
                });

            }


            //3个上传请求
            //非HTML5上传方式，多个文件分别发送
            function loopUpload(fileCount) {
                var file, fileName, promises = [], promise, resp;

                for (var i = 0; i < fileCount; i++) {
                    file = ctrl.files[i];

                    promise = Upload.upload({
                        url: uploadUrl,
                        data: {file: file}
                    });

                    promises.push(promise);
                }

                var allPromise = $q.all(promises);

                allPromise.then(function (resps) {

                    if (!ctrl.urlMap) {
                        ctrl.urlMap = {};
                    }

                    for (var j = 0; j < resps.length; j++) {
                        resp = resps[j];
                        file = resp.config.data.file;
                        width += j;
                        fileName = file.name;
                        ctrl.urlMap[fileName] = 'https://unsplash.it/' + width + '/200';
                    }

                    $log.info(ctrl.urlMap);

                    //模拟
                    $timeout(function () {
                        reset();
                    }, 2000);

                }, function (resp) {
                    $log.log('Error status: ' + resp.status);
                }, function (evt) {
                    ctrl.progressPercentage = parseInt(100.0 * evt.loaded / evt.total);
                });

            }
        }
    })();

</script>
</body>
</html>


