<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>
    <meta charset="UTF-8">
    <title>带上传按钮的上传表单，带预览图，单文件上传，重置</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/ng-file-upload/ng-file-upload-all.js"></script>
</head>
<body>

<div ng-controller="DemoController as demo">

    <div class="container">
        <div class="row">
            <p class="col-md-12">
                Content-Type为multipart/form-data; boundary=----WebKitFormBoundaryfV1qiZxXFMXmwzTq
            </p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- 上传表单 -->
                <form name="uploadForm">
                    <div class="form-group">
                        <label for="upload">文件上传:</label>

                        <!-- ng-file-upload上传指令 -->
                        <!-- ngf-select 当文件被选择或清空时触发 -->
                        <!-- ng-model 将验证合法的文件绑定到作用域模型 -->
                        <!-- accept 当用户打开文件选择时，只能看到和选择指定类型的文件 -->
                        <!-- ngf-pattern 对用户选择的文件的类型进行验证 -->
                        <!-- ngf-max-size 单个文件允许的最大容量，可以通过form.file.$error.maxSize=true来验证 -->
                        <!-- ngf-min-size 单个文件允许的最小容量，通过form.file.$error.minSize=true来验证 -->
                        <!-- ngf-max-height 只对图片类型的文件有效，允许图片的最大高度，单位像素(px)-->
                        <!-- ngf-min-height 只对图片类型的文件有效，允许图片的最小高度，单位像素(px)-->
                        <!-- ngf-max-width 同上-->
                        <!-- ngf-min-width 同上-->

                        <input id="upload"
                               name="file"
                               ngf-select
                               ng-model="demo.file"
                               accept="image/*"
                               ngf-max-height="100"
                               ngf-min-height="10"
                               ngf-nin-size="'10KB'"
                               ngf-max-size="'20KB'"
                               ngf-pattern="'image/*'"
                               type="file"/>
                    </div>

                    <!-- 进度条 -->
                    <div class="progress" ng-if="demo.progressPercentage">
                        <div class="progress-bar"
                             role="progressbar"
                             aria-valuenow="{{demo.progressPercentage}}"
                             aria-valuemin="0"
                             aria-valuemax="100"
                             ng-style="{width: '{{demo.progressPercentage}}%'}">
                            {{ demo.progressPercentage + "%" }}
                        </div>
                    </div>

                    <div>
                        <p class="text-warning" ng-show="uploadForm.file.$error.maxSize">文件容量过大！</p>
                        <p class="text-warning" ng-show="uploadForm.file.$error.minSize">文件容量过小！</p>
                        <p class="text-warning" ng-show="uploadForm.file.$error.maxHeight">图片高度过大！</p>
                        <p class="text-warning" ng-show="uploadForm.file.$error.minHeight">图片高度过小！</p>
                    </div>

                    <!-- 确认上传 -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-default" ng-click="demo.submit(uploadForm)">确认上传</button>
                        <button class="btn btn-default" ng-click="demo.reset()">重置</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <p class="col-md-12">图片预览:</p>
        </div>
        <div class="row" ng-if="demo.urlMap">
            <div class="col-xs-6 col-md-3" ng-repeat="(fileName, url) in demo.urlMap">
                <a href="#" class="thumbnail">
                    <img ngf-src="url" alt="{{fileName}}">
                </a>
            </div>
        </div>
    </div>

</div>


<script>

    angular.module('demo', ['ngFileUpload']);

    (function () {
        angular
                .module('demo')
                .controller('DemoController', DemoController);

        DemoController.$inject = ['$log','$scope', 'Upload', '$timeout'];

        function DemoController($log, $scope, Upload, $timeout) {

            var ctrl = this;
            var width;

            ctrl.file = null;
            ctrl.progressPercentage = '';
            ctrl.urlMap = null;

            ctrl.submit = submit;
            ctrl.reset = reset;


            function reset() {
                ctrl.file = null;
                ctrl.progressPercentage = '';
            }

            function submit(form) {
                if(form.file.$valid && ctrl.file) {
                    $log.info(ctrl.file);
                    upload();
                } else {
                    return false;
                }
            }

            function upload() {
                var fileName;

                Upload.upload({
                    url: '../data/upload.json',
                    data: { file: ctrl.file }
                }).then(function (resp) {
                    $log.log('uploaded. Response: ' + resp.data.data);

                    if(!ctrl.urlMap) {
                        ctrl.urlMap = {};
                    }
                    width = 200 + Object.keys(ctrl.urlMap).length;
                    fileName = resp.config.data.file.name;

                    //文件名不能重复
                    ctrl.urlMap[fileName] = 'https://unsplash.it/' + width + '/200';

                    $log.info(ctrl.urlMap);

                    $timeout(function() {
                        reset();
                    }, 1000)

                }, function (resp) {
                    console.log('Error status: ' + resp.status);
                }, function (evt) {
                    ctrl.progressPercentage = parseInt(100.0 * evt.loaded / evt.total);
                });
            }
        }
    })();

</script>
</body>
</html>


