<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>
    <meta charset="UTF-8">
    <title>ui.bootstrap.popover用法</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-animate/bower-angular-animate-1.4.8/angular-animate.js"></script>
    <script src="../bower_components/angular-aria/angular-aria.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="../bower_components/angular-i18n/angular-locale_zh-cn.js"></script>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <section id="alert">
                <div class="page-header">
                    <h1>
                        Popover
                        <small>(ui.bootstrap.popover)</small>
                    </h1>
                </div>
                <div class="row">
                    <div ng-controller="DemoController as demo">
                        <div class="col-md-6">
                            <h4>Dynamic</h4>

                            <div class="form-group">
                                <label>Popup Text:</label>
                                <input type="text" ng-model="demo.model.dynamicPopover.content" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Popup Title:</label>
                                <input type="text" ng-model="demo.model.dynamicPopover.title" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Popup Template:</label>
                                <input type="text" ng-model="demo.model.dynamicPopover.templateUrl"
                                       class="form-control">
                            </div>
                            <button uib-popover="{{demo.model.dynamicPopover.content}}"
                                    popover-title="{{demo.model.dynamicPopover.title}}"
                                    type="button" class="btn btn-default">Dynamic Popover
                            </button>

                            <button uib-popover-template="demo.model.dynamicPopover.templateUrl"
                                    popover-title="{{demo.model.dynamicPopover.title}}" type="button"
                                    class="btn btn-default">
                                Popover With Template
                            </button>

                            <hr/>
                            <h4>Positional</h4>
                            <button popover-placement="top" uib-popover="On the Top!" type="button"
                                    class="btn btn-default">Top
                            </button>
                            <button popover-placement="left" uib-popover="On the Left!" type="button"
                                    class="btn btn-default">Left
                            </button>
                            <button popover-placement="right" uib-popover="On the Right!" type="button"
                                    class="btn btn-default">Right
                            </button>
                            <button popover-placement="bottom" uib-popover="On the Bottom!" type="button"
                                    class="btn btn-default">Bottom
                            </button>

                            <hr/>
                            <h4>Triggers</h4>

                            <p>
                                <button uib-popover="I appeared on mouse enter!" popover-trigger="mouseenter"
                                        type="button" class="btn btn-default">Mouseenter
                                </button>
                            </p>
                            <input type="text" value="Click me!"
                                   uib-popover="I appeared on focus! Click away and I'll vanish..."
                                   popover-trigger="focus" class="form-control">

                            <hr/>
                            <h4>Other</h4>
                            <button popover-animation="true" uib-popover="I fade in and out!" type="button"
                                    class="btn btn-default">fading
                            </button>
                            <button uib-popover="I have a title!" popover-title="The title." type="button"
                                    class="btn btn-default">title
                            </button>
                        </div>
                        <div class="col-md-6">
                            <p>A lightweight, extensible directive for fancy popover creation. The popover
                                directive supports multiple placements, optional transition animation, and more.</p>

                            <p>Like the Bootstrap jQuery plugin, the popover <strong>requires</strong> the tooltip
                                module.</p>

                            <p>There are two versions of the popover: <code>uib-popover</code> and <code>uib-popover-template</code>:
                            </p>

                            <ul>
                                <li><code>uib-popover</code> takes text only and will escape any HTML provided for the
                                    popover
                                    body.
                                </li>
                                <li><code>uib-popover-html</code> takes an expression that evaluates to an html string.
                                    <em>The user is responsible for ensuring the
                                        content is safe to put into the DOM!</em></li>
                                <li><code>uib-popover-template</code> a URL representing the location of a template to
                                    use for the popover body. Note that the contents of this template need to be
                                    wrapped in a tag, e.g., <code>&lt;div&gt;&lt;/div&gt;</code>.
                                </li>
                            </ul>

                            <p>The popover directives provides several optional attributes to control how it
                                will display:</p>

                            <ul>
                                <li><code>popover-title</code>: A string to display as a fancy title.</li>
                                <li><code>popover-placement</code>: Where to place it? Defaults to "top", but also
                                    accepts
                                    "bottom", "left", "right".
                                </li>
                                <li><code>popover-animation</code>: Should it fade in and out? Defaults to "true".</li>
                                <li><code>popover-popup-delay</code>: For how long should the user have to have the
                                    mouse
                                    over the element before the popover shows (in milliseconds)? Defaults to 0.
                                </li>
                                <li><code>popover-popup-close-delay</code>: For how long should the popover remain open
                                    after the close trigger event? Defaults to 0.
                                </li>
                                <li><code>popover-trigger</code>: What should trigger the show of the popover? See the
                                    <code>tooltip</code> directive for supported values.
                                </li>
                                <li><code>popover-append-to-body</code>: Should the tooltip be appended to
                                    <code>$body</code> instead of
                                    the parent element?
                                </li>
                                <li><code>popover-is-open</code> <i class="glyphicon glyphicon-eye-open"></i>
                                    <em>(Default: false)</em>:
                                    Whether to show the popover.
                                </li>
                            </ul>

                            <p>The popover directives require the <code>$position</code> service.</p>

                            <p>The popover directive also supports various default configurations through the
                                $tooltipProvider. See the <a href="#tooltip">tooltip</a> section for more information.
                            </p>

                            <p><strong>Known issues</strong></p>

                            <p>For Safari 7+ support, if you want to use <strong>focus</strong>
                                <code>popover-trigger</code>, you need to use an anchor tag with a tab index. For
                                example:</p>

                            <p><code>
                                &lt;a tabindex="0" uib-popover="Test" popover-trigger="focus" class="btn btn-default"&gt;
                                Click Me
                                &lt;/a&gt;
                            </code></p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script type="text/ng-template" id="myPopoverTemplate.html">
    <div>{{demo.model.dynamicPopover.content}}</div>
    <div class="form-group">
        <label>Popup Title:</label>
        <input type="text" ng-model="demo.model.dynamicPopover.title" class="form-control">
    </div>
</script>

<script>

    angular.module('demo', [
        'ui.bootstrap',
        'ngAnimate',
        'ngAria'
    ]);

    (function () {
        angular
                .module('demo')
                .controller('DemoController', DemoController);

        DemoController.$inject = ['$log'];

        function DemoController($log) {

            var ctrl = this;
            ctrl.model = {
                dynamicPopover: {
                    content: 'Hello, World!',
                    templateUrl: 'myPopoverTemplate.html',
                    title: 'Title'
                }
            };
            ctrl.fn = {};

        }
    })();
</script>
</body>
</html>


