<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>
    <meta charset="UTF-8">
    <title>ui.bootstrap.progressbar用法</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-animate/bower-angular-animate-1.4.8/angular-animate.js"></script>
    <script src="../bower_components/angular-aria/angular-aria.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="../bower_components/angular-i18n/angular-locale_zh-cn.js"></script>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <section id="alert">
                <div class="page-header">
                    <h1>
                        Progressbar
                        <small>(ui.bootstrap.progressbar)</small>
                    </h1>
                </div>
                <div class="row">
                    <div ng-controller="DemoController as demo">
                        <div class="col-md-6">
                            <h3>静态进度条</h3>

                            <div class="row">

                                <div class="col-sm-4">
                                    <uib-progressbar value="55"></uib-progressbar>
                                </div>

                                <div class="col-sm-4">
                                    <uib-progressbar class="progress-striped" value="22" type="warning">
                                        22%
                                    </uib-progressbar>
                                </div>

                                <div class="col-sm-4">
                                    <uib-progressbar class="progress-striped active"
                                                     max="200"
                                                     value="166"
                                                     type="danger">
                                        <i>166 / 200</i>
                                    </uib-progressbar>
                                </div>
                            </div>

                            <hr/>
                            <h3>动态进度条
                                <button type="button" class="btn btn-sm btn-primary" ng-click="demo.fn.random()">
                                    随机生成
                                </button>
                            </h3>
                            <uib-progressbar max="demo.model.max" value="demo.model.dynamic">
                                <span style="color:white; white-space:nowrap;">{{demo.model.dynamic}} / {{demo.model.max}}</span>
                            </uib-progressbar>

                            <small><em>没有动画的进度条</em></small>
                            <uib-progressbar animate="false" value="demo.model.dynamic" type="success">
                                <b>{{demo.model.dynamic}}%</b>
                            </uib-progressbar>

                            <small><em>根据进度条的进度修改样式类型：</em></small>
                            <uib-progressbar class="progress-striped active" value="demo.model.dynamic" type="{{demo.model.type}}">
                                {{demo.model.type}} <i ng-show="demo.model.showWarning">!!! 注意 !!!</i>
                            </uib-progressbar>

                            <hr/>
                            <h3>堆放在一起的进度条
                                <button type="button" class="btn btn-sm btn-primary" ng-click="demo.fn.randomStacked()">
                                    随机生成
                                </button>
                            </h3>
                            <uib-progress>
                                <uib-bar ng-repeat="bar in demo.model.stacked track by $index"
                                         value="bar.value"
                                         type="{{bar.type}}">
                                    <span ng-hide="bar.value < 5">{{bar.value}}%</span>
                                </uib-bar>
                            </uib-progress>
                        </div>
                        <div class="col-md-6">
                            <h3>配置</h3>

                            <code>&lt;uib-progressbar&gt;</code>

                            <ul>
                                <li>
                                    <em><code>value</code></em>
                                    : 当前进度条的进度值
                                </li>
                                <li>
                                    <em><code>type</code>(默认值：null)</em>
                                    : 进度条的样式类型。例如'success', 'warning'等等。
                                </li>
                                <li>
                                    <em><code>max</code>(默认值：100)</em>
                                    : 进度条满进度时的值
                                </li>
                                <li>
                                    <em><code>animate</code>(默认值：true)</em>
                                    : 是否开启进度条变化时的动画。
                                </li>
                                <li>
                                    <em><code>title</code>(默认值：progressbar)</em>
                                    : 进度条的文本（提高可访问性）
                                </li>
                            </ul>

                            <h3>堆叠的进度条</h3>

                            <p>
                                在 <code>&lt;uib-progress&gt;</code>元素中添加多个 <code>&lt;uib-bar&gt;</code>
                                来构造堆叠进度条。此时<code>&lt;uib-progress&gt;</code>支持 <code>max</code>, <code>animate</code>, <code>title</code>属性，
                                <code>&lt;uib-bar&gt;</code>支持<code>value</code>, <code>title</code>和 <code>type</code>属性。
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<script>

    angular.module('demo', [
        'ui.bootstrap',
        'ngAnimate',
        'ngAria'
    ]);

    (function () {
        angular
                .module('demo')
                .controller('DemoController', DemoController);

        DemoController.$inject = ['$log'];

        function DemoController($log) {

            var ctrl = this;
            ctrl.model = {
                max: 200,
                showWarning: '',
                dynamic: '',
                type: '',
                stacked: []
            };
            ctrl.fn = {
                random: random,
                randomStacked: randomStacked
            };

            ctrl.fn.random();
            ctrl.fn.randomStacked();

            function random() {
                var value = Math.floor((Math.random() * 100) + 1);
                var type;

                if (value < 25) {
                    type = 'success';
                } else if (value < 50) {
                    type = 'info';
                } else if (value < 75) {
                    type = 'warning';
                } else {
                    type = 'danger';
                }

                ctrl.model.showWarning = (type === 'danger' || type === 'warning');

                ctrl.model.dynamic = value;
                ctrl.model.type = type;
            }

            function randomStacked() {
                var types = ['success', 'info', 'warning', 'danger'];

                ctrl.model.stacked.length = 0;

                for (var i = 0, n = Math.floor((Math.random() * 4) + 1); i < n; i++) {
                    var index = Math.floor((Math.random() * 4));
                    ctrl.model.stacked.push({
                        value: Math.floor((Math.random() * 30) + 1),
                        type: types[index]
                    });
                }
            }

        }
    })();
</script>
</body>
</html>


