<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>
    <meta charset="UTF-8">
    <title>ui.bootstrap.typeahead用法</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-animate/bower-angular-animate-1.4.8/angular-animate.js"></script>
    <script src="../bower_components/angular-aria/angular-aria.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="../bower_components/angular-i18n/angular-locale_zh-cn.js"></script>
    <style>
        .typeahead-demo .custom-popup-wrapper {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;
            display: none;
            background-color: #f9f9f9;
        }

        .typeahead-demo .custom-popup-wrapper > .message {
            padding: 10px 20px;
            border-bottom: 1px solid #ddd;
            color: #868686;
        }

        .typeahead-demo .custom-popup-wrapper > .dropdown-menu {
            position: static;
            float: none;
            display: block;
            min-width: 160px;
            background-color: transparent;
            border: none;
            border-radius: 0;
            box-shadow: none;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <section id="alert">
                <div class="page-header">
                    <h1>
                        Typeahead
                        <small>(ui.bootstrap.typeahead)</small>
                    </h1>
                </div>
                <div class="row">
                    <div ng-controller="DemoController as demo" class="typeahead-demo">
                        <div class="col-md-6">
                            <h4>静态数据（数组）</h4>
                            <pre>数据模型: {{demo.model.selected | json}}</pre>
                            <input type="text"
                                   ng-model="demo.model.selected"
                                   uib-typeahead="state for state in demo.model.states | filter:$viewValue | limitTo:8"
                                   class="form-control">

                            <h4>异步请求结果</h4>
                            <pre>数据模型: {{asyncSelected | json}}</pre>
                            <input type="text"
                                   ng-model="asyncSelected"
                                   placeholder="异步请求来的位置信息"
                                   uib-typeahead="address for address in demo.fn.getLocation($viewValue)"
                                   typeahead-loading="loadingLocations"
                                   typeahead-no-results="noResults"
                                   class="form-control">
                            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>

                            <div ng-show="noResults">
                                <i class="glyphicon glyphicon-remove"></i> 暂无数据
                            </div>

                            <h4>自定义模版</h4>
                            <pre>数据模型: {{customSelected | json}}</pre>
                            <input type="text"
                                   ng-model="customSelected"
                                   placeholder="自定义模版"
                                   uib-typeahead="state as state.name for state in demo.model.statesWithFlags | filter:{name:$viewValue}"
                                   typeahead-template-url="customTemplate.html"
                                   class="form-control">

                            <h4>自定义弹出窗口模版</h4>
                            <pre>Model: {{customPopupSelected | json}}</pre>
                            <input type="text"
                                   ng-model="customPopupSelected"
                                   placeholder="自定义弹窗模版"
                                   uib-typeahead="state as state.name for state in demo.model.statesWithFlags | filter:{name:$viewValue}"
                                   typeahead-popup-template-url="customPopupTemplate.html"
                                   class="form-control">
                        </div>
                        <div class="col-md-6">
                            <p>
                                Typeahead is a AngularJS version of Bootstrap v2's typeahead plugin. This directive can be used to quickly create elegant typeaheads with any form text input.
                            </p>

                            <p>
                                It is very well integrated into AngularJS as it uses a subset of the select directive syntax, which is very flexible. Supported expressions are:
                            </p>

                            <ul>
                                <li>label for value in sourceArray</li>
                                <li>select as label for value in sourceArray</li>
                            </ul>

                            <p>
                                The <code>sourceArray</code> expression can use a special <code>$viewValue</code> variable that corresponds to the value entered inside the input.
                            </p>

                            <p>
                                This directive works with promises, meaning you can retrieve matches using the <code>$http</code> service with minimal effort.
                            </p>

                            <p>
                                The typeahead directives provide several attributes:
                            </p>

                            <ul>
                                <li><p><code>ng-model</code> <i class="glyphicon glyphicon-eye-open"></i>
                                    :
                                    Assignable angular expression to data-bind to</p></li>
                                <li><p><code>typeahead</code> <i class="glyphicon glyphicon-eye-open"></i>
                                    :
                                    Comprehension Angular expression (see <a href="http://docs.angularjs.org/api/ng.directive:select">select directive</a>)</p></li>
                                <li><p><code>typeahead-append-to-body</code> <i class="glyphicon glyphicon-eye-open"></i>
                                    <em>(Defaults: false)</em> : Should the typeahead popup be appended to $body instead of the parent element?</p></li>
                                <li><p><code>typeahead-append-to-element-id</code>
                                    <em>(Defaults: false)</em> : Should the typeahead popup be appended to an element id instead of the parent element?</p></li>
                                <li><p><code>typeahead-editable</code>
                                    <em>(Defaults: true)</em> :
                                    Should it restrict model values to the ones selected from the popup only ?</p></li>
                                <li><p><code>typeahead-focus-first</code>
                                    <em>(Defaults: true)</em> :
                                    Should the first match automatically be focused as you type?</p></li>
                                <li><p><code>typeahead-input-formatter</code> <i class="glyphicon glyphicon-eye-open"></i>
                                    <em>(Defaults: undefined)</em> :
                                    Format the ng-model result after selection</p></li>
                                <li><p><code>typeahead-loading</code> <i class="glyphicon glyphicon-eye-open"></i>
                                    <em>(Defaults: angular.noop)</em> :
                                    Binding to a variable that indicates if matches are being retrieved asynchronously</p></li>
                                <li><p><code>typeahead-min-length</code> <i class="glyphicon glyphicon-eye-open"></i>
                                    <em>(Defaults: 1)</em> :
                                    Minimal no of characters that needs to be entered before typeahead kicks-in. Must be greater than or equal to 1.</p></li>
                                <li><p><code>typeahead-no-results</code> <i class="glyphicon glyphicon-eye-open"></i>
                                    <em>(Defaults: angular.noop)</em> :
                                    Binding to a variable that indicates if no matching results were found</p></li>
                                <li><p><code>typeahead-on-select($item, $model, $label)</code>
                                    <em>(Defaults: null)</em> :
                                    A callback executed when a match is selected</p></li>
                                <li><p><code>typeahead-select-on-exact</code>
                                    <em>(Defaults: false)</em> :
                                    Should it automatically select an item when there is one option that exactly matches the user input?</p></li>
                                <li><p><code>typeahead-template-url</code> <i class="glyphicon glyphicon-eye-open"></i>
                                    :
                                    Set custom item template</p></li>
                                <li><p><code>typeahead-popup-template-url</code>
                                    <em>(Defaults: <code>template/typeahead/typeahead-popup.html</code>)</em> :
                                    Set custom popup template</p></li>
                                <li><p><code>typeahead-wait-ms</code> <i class="glyphicon glyphicon-eye-open"></i>
                                    <em>(Defaults: 0)</em> :
                                    Minimal wait time after last character typed before typeahead kicks-in</p></li>
                                <li><p><code>typeahead-select-on-blur</code>
                                    <em>(Defaults: false)</em> :
                                    On blur, select the currently highlighted match</p></li>
                                <li><p><code>typeahead-focus-on-select</code>
                                    _(Defaults: true) :
                                    On selection, focus the input element the typeahead directive is associated with</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


<script type="text/ng-template" id="customTemplate.html">
    <a>
        <img ng-src="http://upload.wikimedia.org/wikipedia/commons/thumb/{{match.model.flag}}" width="16">
        <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
    </a>
</script>

<script type="text/ng-template" id="customPopupTemplate.html">
    <div class="custom-popup-wrapper"
         ng-style="{top: position().top+'px', left: position().left+'px'}"
         style="display: block;"
         ng-show="isOpen() && !moveInProgress"
         aria-hidden="{{!isOpen()}}">
        <p class="message">从下拉菜单选择位置</p>

        <ul class="dropdown-menu" role="listbox">
            <li ng-repeat="match in matches track by $index"
                ng-class="{active: isActive($index) }"
                ng-mouseenter="selectActive($index)"
                ng-click="selectMatch($index)"
                role="option"
                id="{{::match.id}}">

                <div uib-typeahead-match
                     index="$index"
                     match="match"
                     query="query"
                     template-url="templateUrl">
                </div>
            </li>
        </ul>
    </div>
</script>

<script>

    angular.module('demo', [
        'ui.bootstrap',
        'ngAnimate',
        'ngAria'
    ]);

    (function () {
        angular
                .module('demo')
                .controller('DemoController', DemoController);

        DemoController.$inject = ['$log', '$http'];

        function DemoController($log, $http) {

            var ctrl = this;
            ctrl.model = {
                selected: undefined,
                states: ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado',
                    'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois',
                    'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
                    'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana',
                    'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
                    'North Dakota', 'North Carolina', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
                    'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah',
                    'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'],

                statesWithFlags: [
                    {'name': 'Alabama', 'flag': '5/5c/Flag_of_Alabama.svg/45px-Flag_of_Alabama.svg.png'},
                    {
                        'name': 'Alaska',
                        'flag': 'e/e6/Flag_of_Alaska.svg/43px-Flag_of_Alaska.svg.png'
                    }, {
                        'name': 'Arizona',
                        'flag': '9/9d/Flag_of_Arizona.svg/45px-Flag_of_Arizona.svg.png'
                    }, {
                        'name': 'Arkansas',
                        'flag': '9/9d/Flag_of_Arkansas.svg/45px-Flag_of_Arkansas.svg.png'
                    }, {
                        'name': 'California',
                        'flag': '0/01/Flag_of_California.svg/45px-Flag_of_California.svg.png'
                    }, {
                        'name': 'Colorado',
                        'flag': '4/46/Flag_of_Colorado.svg/45px-Flag_of_Colorado.svg.png'
                    }, {
                        'name': 'Connecticut',
                        'flag': '9/96/Flag_of_Connecticut.svg/39px-Flag_of_Connecticut.svg.png'
                    }, {
                        'name': 'Delaware',
                        'flag': 'c/c6/Flag_of_Delaware.svg/45px-Flag_of_Delaware.svg.png'
                    }, {
                        'name': 'Florida',
                        'flag': 'f/f7/Flag_of_Florida.svg/45px-Flag_of_Florida.svg.png'
                    }, {
                        'name': 'Georgia',
                        'flag': '5/54/Flag_of_Georgia_%28U.S._state%29.svg/46px-Flag_of_Georgia_%28U.S._state%29.svg.png'
                    }, {
                        'name': 'Hawaii',
                        'flag': 'e/ef/Flag_of_Hawaii.svg/46px-Flag_of_Hawaii.svg.png'
                    }, {
                        'name': 'Idaho',
                        'flag': 'a/a4/Flag_of_Idaho.svg/38px-Flag_of_Idaho.svg.png'
                    }, {
                        'name': 'Illinois',
                        'flag': '0/01/Flag_of_Illinois.svg/46px-Flag_of_Illinois.svg.png'
                    }, {
                        'name': 'Indiana',
                        'flag': 'a/ac/Flag_of_Indiana.svg/45px-Flag_of_Indiana.svg.png'
                    }, {'name': 'Iowa', 'flag': 'a/aa/Flag_of_Iowa.svg/44px-Flag_of_Iowa.svg.png'}, {
                        'name': 'Kansas',
                        'flag': 'd/da/Flag_of_Kansas.svg/46px-Flag_of_Kansas.svg.png'
                    }, {
                        'name': 'Kentucky',
                        'flag': '8/8d/Flag_of_Kentucky.svg/46px-Flag_of_Kentucky.svg.png'
                    }, {
                        'name': 'Louisiana',
                        'flag': 'e/e0/Flag_of_Louisiana.svg/46px-Flag_of_Louisiana.svg.png'
                    }, {
                        'name': 'Maine',
                        'flag': '3/35/Flag_of_Maine.svg/45px-Flag_of_Maine.svg.png'
                    }, {
                        'name': 'Maryland',
                        'flag': 'a/a0/Flag_of_Maryland.svg/45px-Flag_of_Maryland.svg.png'
                    }, {
                        'name': 'Massachusetts',
                        'flag': 'f/f2/Flag_of_Massachusetts.svg/46px-Flag_of_Massachusetts.svg.png'
                    }, {
                        'name': 'Michigan',
                        'flag': 'b/b5/Flag_of_Michigan.svg/45px-Flag_of_Michigan.svg.png'
                    }, {
                        'name': 'Minnesota',
                        'flag': 'b/b9/Flag_of_Minnesota.svg/46px-Flag_of_Minnesota.svg.png'
                    }, {
                        'name': 'Mississippi',
                        'flag': '4/42/Flag_of_Mississippi.svg/45px-Flag_of_Mississippi.svg.png'
                    }, {
                        'name': 'Missouri',
                        'flag': '5/5a/Flag_of_Missouri.svg/46px-Flag_of_Missouri.svg.png'
                    }, {
                        'name': 'Montana',
                        'flag': 'c/cb/Flag_of_Montana.svg/45px-Flag_of_Montana.svg.png'
                    }, {
                        'name': 'Nebraska',
                        'flag': '4/4d/Flag_of_Nebraska.svg/46px-Flag_of_Nebraska.svg.png'
                    }, {
                        'name': 'Nevada',
                        'flag': 'f/f1/Flag_of_Nevada.svg/45px-Flag_of_Nevada.svg.png'
                    }, {
                        'name': 'New Hampshire',
                        'flag': '2/28/Flag_of_New_Hampshire.svg/45px-Flag_of_New_Hampshire.svg.png'
                    }, {
                        'name': 'New Jersey',
                        'flag': '9/92/Flag_of_New_Jersey.svg/45px-Flag_of_New_Jersey.svg.png'
                    }, {
                        'name': 'New Mexico',
                        'flag': 'c/c3/Flag_of_New_Mexico.svg/45px-Flag_of_New_Mexico.svg.png'
                    }, {
                        'name': 'New York',
                        'flag': '1/1a/Flag_of_New_York.svg/46px-Flag_of_New_York.svg.png'
                    }, {
                        'name': 'North Carolina',
                        'flag': 'b/bb/Flag_of_North_Carolina.svg/45px-Flag_of_North_Carolina.svg.png'
                    }, {
                        'name': 'North Dakota',
                        'flag': 'e/ee/Flag_of_North_Dakota.svg/38px-Flag_of_North_Dakota.svg.png'
                    }, {'name': 'Ohio', 'flag': '4/4c/Flag_of_Ohio.svg/46px-Flag_of_Ohio.svg.png'}, {
                        'name': 'Oklahoma',
                        'flag': '6/6e/Flag_of_Oklahoma.svg/45px-Flag_of_Oklahoma.svg.png'
                    }, {
                        'name': 'Oregon',
                        'flag': 'b/b9/Flag_of_Oregon.svg/46px-Flag_of_Oregon.svg.png'
                    }, {
                        'name': 'Pennsylvania',
                        'flag': 'f/f7/Flag_of_Pennsylvania.svg/45px-Flag_of_Pennsylvania.svg.png'
                    }, {
                        'name': 'Rhode Island',
                        'flag': 'f/f3/Flag_of_Rhode_Island.svg/32px-Flag_of_Rhode_Island.svg.png'
                    }, {
                        'name': 'South Carolina',
                        'flag': '6/69/Flag_of_South_Carolina.svg/45px-Flag_of_South_Carolina.svg.png'
                    }, {
                        'name': 'South Dakota',
                        'flag': '1/1a/Flag_of_South_Dakota.svg/46px-Flag_of_South_Dakota.svg.png'
                    }, {
                        'name': 'Tennessee',
                        'flag': '9/9e/Flag_of_Tennessee.svg/46px-Flag_of_Tennessee.svg.png'
                    }, {'name': 'Texas', 'flag': 'f/f7/Flag_of_Texas.svg/45px-Flag_of_Texas.svg.png'}, {
                        'name': 'Utah',
                        'flag': 'f/f6/Flag_of_Utah.svg/45px-Flag_of_Utah.svg.png'
                    }, {
                        'name': 'Vermont',
                        'flag': '4/49/Flag_of_Vermont.svg/46px-Flag_of_Vermont.svg.png'
                    }, {
                        'name': 'Virginia',
                        'flag': '4/47/Flag_of_Virginia.svg/44px-Flag_of_Virginia.svg.png'
                    }, {
                        'name': 'Washington',
                        'flag': '5/54/Flag_of_Washington.svg/46px-Flag_of_Washington.svg.png'
                    }, {
                        'name': 'West Virginia',
                        'flag': '2/22/Flag_of_West_Virginia.svg/46px-Flag_of_West_Virginia.svg.png'
                    }, {
                        'name': 'Wisconsin',
                        'flag': '2/22/Flag_of_Wisconsin.svg/45px-Flag_of_Wisconsin.svg.png'
                    }, {'name': 'Wyoming', 'flag': 'b/bc/Flag_of_Wyoming.svg/43px-Flag_of_Wyoming.svg.png'}]
            };
            ctrl.fn = {
                getLocation: getLocation
            };

            function getLocation(val) {
                $log.info(val);
                return $http.get('//maps.googleapis.com/maps/api/geocode/json', {
                    params: {
                        address: val,
                        sensor: false
                    }
                }).then(function (response) {
                    return response.data.results.map(function (item) {
                        return item.formatted_address;
                    });
                });
            }

        }
    })();
</script>
</body>
</html>


